.btn-global {
  width: 20rem;
  height: 4rem;
  font-size: 3rem;
  color: white;
  padding: 2.5rem 1rem;
  text-transform: none;
  border-radius: 12px;
}
.btn-global:hover{
  color: #2C3E50;
}
.nextposition{
  position: absolute;
  left:70%;
  top :3%;
}
@media screen and (min-width:960px )  and (max-width: 1328px) {
  .btn-global{
    width: 18rem;
    height: 4rem;
    font-size: 3rem;
  }
}
@media screen and (min-width:740px )  and (max-width: 960px) {
  .btn-global{
    width: 10rem;
    height: 2.5rem;
    font-size: 1.65rem;
  }

}
@media screen and (max-width: 740px) {
  .btn-global{
    width: 8rem;
    height: 2rem;
    font-size: 1.35rem;
  }
}
@media screen and (max-width:540px )  {

}


