.btn-global {
  width: 18rem;
  height: 4rem;
  font-size: 3rem;
  color: white;
  padding: 2rem 0.5rem;
  text-transform: none;
  border-radius: 12px;
}
.btn-global:hover{
  color: #2C3E50;
}
.nextposition{
  position: absolute;
  left:75%;
  top :3%;
}
@media screen and (min-width:960px )  and (max-width: 1328px) {
  .btn-global{
    width: 14rem;
    height: 4rem;
    font-size: 2.5rem;
    padding: 0.75%;
  }
}
@media screen and (min-width:740px )  and (max-width: 960px) {
  .btn-global{
    width: 10rem;
    font-size: 1.65rem;
  }
  .nextposition{
    top :2%;
    left:75%;
  }

}
@media screen and (max-width: 740px) {
  .btn-global{
    width: 10rem;
    height: 1.5rem;
    font-size: 1.35rem;
  }
  .nextposition{
    top :1%;
    left:70%;
  }
}
@media screen and (max-width:540px )  {

}


